<h1> one single pet </h1>

<p><strong>name:</strong> <%= @pet.name %><p>
<p><strong>id:</strong> <%= @pet.id %><p>
<p><strong>breed:</strong> <%= @pet.breed %><p>
<p><strong>image:</strong> <%= @pet.image %><p>

